/* 
Globals
	Sass variable, mixins, plugins, etc. that are used throughout the entore site.
*/

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Site variable
$color: #FFF;
$background-color: #1CA52D;
$background-color-alternate: #2ABC3B;


// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@mixin body-font-regular {
    font-family: 'Droid Serif', serif;
    font-style: normal;
    font-weight: 400;
}

@mixin body-font-italic {
    font-family: 'Droid Serif', serif;
    font-style: italic;
    font-weight: 400;
}

@mixin body-font-bold {
    font-family: 'Droid Serif', serif;
    font-style: normal;
    font-weight: 700;
}

@mixin headline-font {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
}

@mixin reversed-background-font {
    background-color: $color;
    color: $background-color;
}

@keyframes colorchange-background {
    0% { background-color: $background-color;}
    50% { background-color: $background-color-alternate; }
    100% { background-color: $background-color; }
}

@keyframes colorchange-font {
    0% { color: $background-color;}
    50% { color: $background-color-alternate; }
    100% { color: $background-color; }
}